body {
    background-color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #balance {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #transactions {
    padding: 20px;
    background-color:aliceblue;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;    
  }
  
  #transaction-list {
    list-style: none;
    padding: 0;
  }
  h2{
    text-align: center;
  }
  #transaction-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  #transaction-form input,
  #transaction-form select,
  #transaction-form button {
    padding: 10px;
    display: block;
    align-items: center;
    text-align: center;
    margin: 1% 0% 1% 30%;
    max-height: 40px;
    max-width: 40%;

  }
  
  #transaction-form input[type="text"],
  #transaction-form input[type="number"] {
    width: 100%;
    padding: 5px;
    align-self: center;
  }
  
  #transaction-form select {
    width: 100%;
    padding: 5px;
  }
  li{
    border-left: #45a049;
    border-width: 0px 2px 0px 0px;
    border:solid;
   
  }
  #transaction-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #transaction-form button:hover {
    background-color: #45a049;
  }
  